@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900 | Ubuntu: 100,200,300,400,500,600,700,800,900');

/* ---------------------------------------GENERAL CONTENT */

/* Alert */

.alert-container {
    padding: 0;
    margin: 0;
    border: 0;
}

.alert-warning {
    margin: 0;
    padding: 5px 15px;
    color: #86733b;
    background-color: #ffd962;
    border-color: #ffd962;
}

/* Social */

.navbar .social-links li a i {
    margin: 0;
    width: 25px;
    height: 25px;
    padding: 12px 0;
    border-radius: 20%;
    line-height: 1px;
    text-align: center;
    vertical-align: center;
    color: #000;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.list-inline{
    margin: 0;
    font-size: 1.35rem;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.1rem;
}

.btn-dark {
    color: #fff;
    background-color: #5c6269;
    border-color: #5c6269;
    padding: 0 2px;
    display: block;
}

/* Navigation */

.nav-wrapper{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.nav {
    background-color: #fff;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #fff;
    padding-right: 7%;
    padding-left: 3%;
    height: 70px;
    
}

.navbar .navbar-nav a{
    padding: 0 30px;
}


/* Page title */

.row .page-title{
    position: absolute;
    z-index: 1;
}

.offset-span{
    margin-left: 6.4vw;
}

.row .page-title h1{
    font-size: 5vw;
    margin-top: 1vw;
    margin-left: 1vw;
    text-transform: uppercase;
}

/* Jumbotron and Image */
.callout-container {
    /*height: 80vh;*/
    max-height: 450px;
    overflow: hidden;
}

.jumbotron,
.callout-container img {
    width: 70%;
    margin-left: 25%;
}

.hero-image {
    position: relative;
    left: 0;
}

.jumbotron{
    position: absolute;
    background-color: transparent;
    color: #fff;
    margin-left: 23vw;
    padding-top: 2vw;
}

.btn-cta{
    background-color: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Hover */

.social-links li a i:hover{
    background-color: #000;
    color: #fff;
}

#navbarTogglerDropdown > ul > li:hover{
    font-weight: 500;
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus,
.btn-cta:active:focus {
    background-color: rgba(0,0,0,0.4);
    border-color: #ffd962 ;
    color: #ffd962;
}

/* Media Query for Moblie */

@media (max-width:575px){
#navbarTogglerDropdown {
    background-color: #fff;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    }
    
.list-inline .social-links{
    font-size: 1.35rem;
    }
    
.social-links .list-inline .list-inline-item{
    margin-right: 0.3rem;
}
    
#navbarTogglerDropdown > ul > li{
    margin-top: 12%;
    font-size: 20px;
    letter-spacing: 4px;
    }

.quotes .blockquote p{
    margin-top: 6vw;
    }

.btn-outline-secondary{
    margin-bottom: 6vw;
    }
    
.conteiner-fluid.page-content-container{
    margin-top: 25px;
    }

.media-sub-heading{
    margin: 15px 0px;
}

}

/* ------------------------------------ CONTENT UNIQUE TO PAGE */

.page-content-container{
    margin: 0 7%;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
}

.list-group-item{
        display: flow-root;
}

/* About */
.band-members > a > i,
#band-selection > .list-group.band-memebers > a > i{
    float: right;
}

.quotes{
    font-family: "ubuntu", sans-serif;
    color: #61bebf;
}

.quotes .blockquote{
    margin-top: 3vw;
    font-size: 1.40rem;
}

.btn-outline-secondary{
    margin-bottom: 3vw;
}

.band-bio-container{
    text-align: justify;
}
    
/* Media */    
    
.video-title{
    text-transform: uppercase;
    text-align: left;
    padding: 5px 10px 0px;
}
.music-column p,
.video-column p{
    text-align: right;
}

.music-column .label-name,
.video-column .video-director-name{
    text-transform: uppercase;
}

hr.video-divider{
    border-top: 1px solid #333;
}


/*------------------MUSIC PLAYER---------------------------------*/
.clearfix,
#music-player-container,
#audio-info,
.cover,
button{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.clearfix{
	clear:both;
}

#music-player-container{
	font-size:13px;
	line-height:1.5em;
	color:#fff;
	max-width: 330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:25px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 2px;
	
}

#audio-image{
	position:relative;
	overflow:hidden;
	height:200px;
	margin-bottom:15px;
}

#audio-info{
	text-align:center;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width:100%;
	z-index:1;
}

input#volume {
	width:95%;
	margin-left:2%;
    -webkit-appearance: none !important;
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/musicPlayerImg/knob.png) no-repeat;
    height:12px;
    width:12px;
}

#buttons{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}


button#play{
	width:70px;
	height:70px;
	background:url(../images/musicPlayerImg/play.png) no-repeat;float:left;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/musicPlayerImg/pause.png) no-repeat;float:left;
}

button#stop{
	width:70px;
	height:70px;
	background:url(../images/musicPlayerImg/stop.png) no-repeat;float:left;
}

button#prev{
	min-width:65px;
	height:70px;
	background:url(../images/musicPlayerImg/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	min-width:65px;
	height:70px;
	background:url(../images/musicPlayerImg/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#playlist {
    list-style-type: none;
	padding:10px;
}

#playlist li {
    cursor: pointer;
    margin:5px;
}

#tracker{
	position:relative;
	width:100%;
}

#playlist li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#progressBar { 
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/musicPlayerImg/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../images/musicPlayerImg/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}

/*---------------/MUSIC PLAYER STYLING OVER--------------------*/