@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800,900 | Ubuntu: 100,200,300,400,500,600,700,800,900');

.alert-container{
    padding: 0;
    margin: 0;
    border: 0;
}

.alert-warning{
    margin: 0;
}